body {
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  background: #fff
    url("https://drupal-varnish-703-urz-webkit-webkit39-prd.apps.ocp-west.urz.uni-heidelberg.de/sites/default/files/site_logo/WEB%20Kopfgrafik%20Scientific-Software-Center%20LANG%20neu.svg")
    no-repeat right 1vmin top 1vmin;
  background-size: auto 10vmin;
}

.header {
  text-align: center;
  position: top;
  width: 100%;
  height: 5vmin;
}

.iwr-vis {
  position: relative;
  margin: 0 auto;
  width: 95vmin;
  height: 95vmin;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a.iwr-vis:link {
  text-decoration: none;
}

a.iwr-vis:visited {
  text-decoration: none;
}

a.iwr-vis:hover {
  text-decoration: none;
}

a.iwr-vis:active {
  text-decoration: none;
}

.iwr-vis-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.iwr-vis-segment-item {
  cursor: pointer;
}

.iwr-vis-group-item {
  cursor: pointer;
}

.iwr-vis-clickable {
  cursor: pointer;
}

.iwr-vis-group-item:hover .iwr-vis-group-item-box {
  fill: #cccccc;
}

.iwr-vis-group-card-html {
  width: 100%;
  height: 100%;
}
